#root {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.source {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.chart-or-charts {
	flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
	flex: 1;
	display: flex;
}

.chart {
  flex: 1;
  position: relative;
}

.info {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3c4043;
}

.controls-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  max-width: fit-content;
}

.dropdown-holder {
  padding: 0 8px;
}

.navigation-strip {
  display: flex;
  align-items: center;
}

.navigation-buttons {
  height: 16px;
  padding-left: 5px;
}

.icon-button {
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.icon-placeholder {
  width: 16px;
  height: 16px;
  display: inline-block;
}
