.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.controls-holder {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  justify-content: space-between;
}

.dropdown {
  max-width: fit-content;
}

.dropdown-holder {
  padding: 0 8px;
}
